<h1> Makers Name Game </h1>

<h3> 
  <center>
    <img src="<%= @single_maker.path %>"/>
  </center>
</h3>

<% @maker_random.each do |maker| %>
  
 <% if maker == @single_maker %>

  <form action="/winner" method="post">
    <input type="submit" value="<%= maker.name %>" class="button">
  </form>  

  <% else %>

    <form action="/loser" method="post">
    <input type="submit" value="<%= maker.name %>" class="button">
  </form> 

<% end %>

<% end %>