<h1> Makers Name Game </h1>

<h3> 
  <center>
    <img src="<%= @single_maker.path %>"/>
  </center>
</h3>

<h3>
  <center>
    <% @maker_random.each do |maker| %>
      <%= maker.name %>
    <% end %>
  </center>
</h3>
